<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=yes" name="viewport">
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        rel="stylesheet"
        crossorigin="anonymous">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://img.icons8.com/material-two-tone/24/null/source-code.png" id="favicon" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container unselectable">
  <h1>{{ name }}</h1>
  <h5>{{ job_title }}</h5>
  <hr>
  <p id="experience">Work experience: </p>
  <ul dir="auto">
    <li>Main programming language: <code>{{ main_lang }}</code></li>
    <li>Secondary programming language: <code>{{ secondary_lang }}</code></li>
    <li>Basic frameworks / tools:
      <ul dir="auto">
        {% for tool in basic_tools %}
        <li><code>{{ tool }}</code></li>
        {% endfor %}
      </ul>
    </li>
    <li>Databases:
      <ul dir="auto">
        <li>Row oriented: {% for x in row_databases %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
        <li>Column oriented: {% for x in column_databases %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
        <li>Document oriented: {% for x in document_stores %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
        <li>Key-Value storages: {% for x in kv_databases %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
      </ul>
    </li>
    <li>Event/message brokers: {% for x in brokers %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
    <li>Web servers: {% for x in web_servers %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
    <li>Monitoring: {% for x in monitoring %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
    <li>Dashboards: {% for x in dashboards %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
    <li>OS-level virtualization: {% for x in virtualization %}<code>{{ x }}</code>{{ ", " if not loop.last else "" }}{% endfor %}</li>
  </ul>
  <div class="contact">
    <ul class="list-unstyled">
      <li class="email"><i class="fa-solid fa-envelope"></i>
        <a href="mailto:{{ email }}" target="_blank">{{ email }}</a>
      </li>
      {% for key, info in social_links.items() %}
      <li class="{{ key }}"><i class="fa-brands fa-{{ key }}"></i>
        <a href="{{ info.source }}" target="_blank">{{ info.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="particles-js"></div>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>
<script>
  const startExperience = new Date("{{ start_experience }}");
  const today = new Date();
  const diff = new Date(today - startExperience);
  const years = diff.getUTCFullYear() - 1970;
  const months = diff.getUTCMonth();
  const experienceText = `Work experience: ${years} years${months > 1 ? ` ${months} months` : ''}`;
  document.getElementById('experience').textContent = experienceText;
</script>
</body>
</html>