<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <title>pwnd</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body>
  <canvas></canvas>
  <script src="/static/js/main.js"></script>
</body>
</html>